MYSQL_DATABASE="snaily-cad"
MYSQL_USER="admin"
MYSQL_PASSWORD="admin"
MYSQL_ROOT_PASSWORD="root"
CLIENT_URL="http://localhost"
REACT_APP_SERVER_URL="http://localhost:3030"
ENVIRONMENT="production" # DO NOT CHANGE THIS UNLESS YOU KNOW WHAT YOU ARE DOING.
JWT_SECRET="RANDOM_CHARACTERS_HERE"
PORT="3030"
