# builds 
dist
build

# env
.env
.env.local
.env.production

# node modules
node_modules

# config
server/config.ts
client/src/config.ts

server/public/citizen-images/*
server/public/bleeter-images/*

.DS_Store

.eslintcache

.vscode

data.json