# builds 
dist
build
.next

# env
.env
.env.local
.env.production

# node modules
node_modules

# config
src/config.ts

public/citizen-images/*
public/bleeter-images/*
!public/bleeter-images/.gitkeep
!public/citizen-images/.gitkeep

.DS_Store

.eslintcache

.vscode

data.json