# builds 
dist
build
.next

# env
.env
.env.local
.env.production

# node modules
node_modules

# config
server/config.ts
client/src/config.ts

public/citizen-images/*
public/bleeter-images/*

.DS_Store

.eslintcache

.vscode

data.json