@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant-Light.ttf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant-Medium.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant-SemiBold.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant-Bold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant-Bold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant-Bold.ttf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
