.map-blips-container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 9999;
}

.modal-backdrop {
  z-index: 1000 !important;
}

.map-calls-container {
  position: absolute;
  top: 5rem;
  left: 1rem;
  z-index: 1039;
  background-color: var(--bs-dark);
  padding: 0.8rem;
  border-radius: 0.5rem;
  width: 20rem;
  box-shadow: 0 0 32px 8px rgba(0, 0, 0, 0.2);
}

.map-column {
  display: flex;
  flex-direction: column;
}

.map-call-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.map-toggle-call {
  background: none;
  border: none;
  outline: none;
}

.map-toggle-call svg {
  width: 1rem;
  height: 1rem;
  fill: var(--bs-light);
}
